.topnav {
    background-color: #FF8FAB;
  }


.topnav a {
font-size: 40px;
color: white;
}

html {
    height: 100%;
}


body {
    margin: 0;
    height:100vh;
    padding: 0;
    min-height: 100%;
    font-family: 'Klee One';
    background-color: #FFE5EC;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */ 
}

.box-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

#box1 {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background: #FF8FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box2 {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background: #FF8FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box3 {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background: #FF8FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text {
    font-size: 50px;
    color: white;
}

