body {
    margin: 0;
    height: 100vh;
    padding: 0;
    min-height: 100%;
    font-family: 'Klee One';
    background-color: #FFE5EC;
}

.top-nav {
    background-color: #FF8FAB;
  }

.top-nav a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}


.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */ 
}

.box-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

#box1 {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background: #FF8FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box2 {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background: #FF8FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box3 {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background: #FF8FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text {
    font-size: 50px;
    color: white;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}