<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Pong Love Story</title>
    <script src="https://pixijs.download/release/pixi.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top-nav">
        <a href="/">Ping Pong Love Story</a>
    </div>

    <!-- Game container placed in here with script -->
    <div class="game-container">
    </div>
    <script type="module">
        const narrator = "Narrator";
        const mainCharacter = "Pong-Chan";
        const blackPaddle = "blackPaddle";
        const redPaddle = "redPaddle";

        const story = [
            {speaker: narrator, dialog: "Ball was a lonely soul.", answers: [{ option: "...", next: "greet_ignore1" },]},

            {
                label: "greet_ignore1",
                speaker: narrator,
                dialog: "After being separated by his value pack,", answers: [
                    { option: "...", next: "greet_ignore2" },
                ]
            },

            {
                label: "greet_ignore2",
                speaker: narrator,
                dialog: "he was lost underneath a ping pong table until Black found him.", answers: [
                    { option: "...", next: "greet_ignore3" },
                ]
            },

            {
                label: "greet_ignore3",
                speaker: narrator,
                dialog: "Since then,", answers: [
                    { option: "...", next: "greet_ignore4" },
                ]
            },

            {
                label: "greet_ignore4",
                speaker: narrator,
                dialog: "they shared a deep passionate love and have been together ever since.", answers: [
                    { option: "...", next: "greet_ignore5" },
                ]
            },

            {
                label: "greet_ignore5",
                speaker: narrator,
                dialog: "Although, recently,", answers: [
                    { option: "...", next: "greet_ignore6" },
                ]
            },

            {
                label: "greet_ignore6",
                speaker: narrator,
                dialog: "the relationship between them has started to feel one-sided.", answers: [
                    { option: "...", next: "greet_ignore7" },
                ]
            },
 
            {
                label: "greet_ignore7",
                speaker: narrator,
                dialog: " Black is the one always in control,", answers: [
                    { option: "...", next: "greet_ignore8" },
                ]
            },

            {
                label: "greet_ignore8",
                speaker: narrator,
                dialog: " so Ball feels like he can’t make any decisions for himself", answers: [
                    { option: "...", next: "greet_ignore9" },
                ]
            },

            {
                label: "greet_ignore9",
                speaker: narrator,
                dialog: "–until Ball met Red.", answers: [
                    { option: "...", next: "greet_ignore10" },
                ]
            },

            {
                label: "greet_ignore10",
                speaker: narrator,
                dialog: "Red took Ball’s thoughts into consideration and let him think for himself.", answers: [
                    { option: "...", next: "greet_ignore11" },
                ]
            },
            
            {
                label: "greet_ignore11",
                speaker: narrator,
                dialog: "Ever since then,", answers: [
                    { option: "...", next: "greet_ignore12" },
                ]
            },

            {
                label: "greet_ignore12",
                speaker: narrator,
                dialog: "Ball has been conflicted about his feelings", answers: [
                    { option: "...", next: "greet_ignore13" },
                ]
            },

            {
                label: "greet_ignore13",
                speaker: narrator,
                dialog: "and needs to make a decision soon before things get messy…", answers: [
                    { option: "...", next: "first_decision1" },
                ]
            },

            {
                label: "first_decision1",
                speaker: narrator,
                dialog: "Late at night, Ball was rolling around the locker room one day after a hard workout and found Red against one of the showers with his padding off.", answers: [
                    { option: "...", next: "first_decision2" },
                ]
            },

            {
                label: "first_decision2",
                speaker: narrator,
                dialog: "His bare wood was out in the open, giving off the aroma of freshly cut bark.", answers: [
                    { option: "...", next: "first_decision3" },
                ]
            },

            {
                label: "first_decision3",
                speaker: narrator,
                dialog: "What will Ball do?", answers: [
                    { option: "Play some \"ping pong\" with him", next: "red_decision1" },
                    { option: "Stay faithful to Black and ignore him", next:"black_decision1"}
                ]
            },

            {
                label: "red_decision1",
                speaker: mainCharacter,
                dialog: "Hey, I didn't expect to see you here this late.", answers: [
                    { option: "...", next: "red_decision2" }
                ]
            },

            {
                label: "red_decision2",
                speaker: redPaddle,
                dialog: "Hey. I had a feeling you’d be around here at this time. Part of me wanted to see you. I know how much you love training, so how about it, one round on me?", 
                answers: [
                    { option: "Let's take it slow", next: "red_red_decision1"},
                    { option: "I'm actually allergic to water", next: "red_black_decision1"}
                ]
            },

            {
                label: "red_red_decision1",
                speaker: mainCharacter,
                dialog: "Here? I’ve never trained while wet before… Maybe it’ll be good practice if I’m playing outdoors while it’s raining. Let’s take it slow. I wanna take my time to learn this.", 
                answers: [
                    { option: "...", next: "red_red_decision2"}
                ]
            },

            {
                label: "red_red_decision2",
                speaker: redPaddle,
                dialog: "You’re the boss. ", 
                answers: [
                    { option: "...", next: "red_red_decision3"}
                ]
            },

            {
                label: "red_red_decision3",
                speaker: narrator,
                dialog: "The two passionately played a back and forth game of ping pong together inside the shower room to practice for a rainy game one day…", 
                answers: [
                    { option: "...", next: "red_red_decision3"}
                ]
            },

            {
                label: "red_black_decision1",
                speaker: mainCharacter,
                dialog: "Um, actually, I’m allergic to water.", 
                answers: [
                    { option: "...", next: "red_black_decision2"}
                ]
            },

            {
                label: "red_black_decision2",
                speaker: redPaddle,
                dialog: "Um, actually, how is that even possible?", 
                answers: [
                    { option: "...", next: "red_black_decision3"}
                ]
            },

            {
                label: "red_black_decision3",
                speaker: mainCharacter,
                dialog: "Anything is possible my friend. You just have to believe…", 
                answers: [
                    { option: "...", next: "red_black_decision4"}
                ]
            },

            {
                label: "red_black_decision4",
                speaker: narrator,
                dialog: "Ball leaves the shower room.", 
                answers: [
                    { option: "...", next: "red_black_decision5"}
                ]
            },

            {
                label: "red_black_decision5",
                speaker: redPaddle,
                dialog: "What was that?", 
                answers: [
                    { option: "...", next: "red_black_decision5"}
                ]
            },

            {
                label: "black_decision1",
                speaker: narrator,
                dialog: "Ball decided to ignore Red since he had just remembered that Black wanted to practice smashing drills with him. He packed up his stuff and headed back home…", answers: [
                    { option: "...", next: "black_decision2" }
                ]
            },

            {
                label: "black_decision2",
                speaker: blackPaddle,
                dialog: "Hey I’m so glad to see you! I was just finishing this smashing drill, and I thought that you would love it! I’m so ready to do 10,893 more drills tonight. I am–I really am!", answers: [
                    { option: "Can we take it slow?", next: "black_black_decision1" },
                    { option: "I'm gonna deflate tonight.", next:"black_red_decision1"}
                ]
            },

            {
                label: "black_black_decision1",
                speaker: mainCharacter,
                dialog: "I’m down for whatever you have in store. Although, could we take it slow this time? I feel exhausted today after my workout.", answers: [
                    { option: "...", next: "black_black_decision2" }
                ]
            },

            {
                label: "black_black_decision2",
                speaker: blackPaddle,
                dialog: "WHAT?? You're backing out?!! There is no ping without the pong.", answers: [
                    { option: "...", next: "black_black_decision3" }
                ]
            },

            {
                label: "black_black_decision3",
                speaker: blackPaddle,
                dialog: "I want to see you working hard every day because when I found you, you were dented, deflated, and broken,", answers: [
                    { option: "...", next: "black_black_decision4" }
                ]
            },

            {
                label: "black_black_decision4",
                speaker: blackPaddle,
                dialog: "I want to see you working hard every day because when I found you, you were dented, deflated, and broken,", answers: [
                    { option: "...", next: "black_black_decision5" }
                ]
            },

            {
                label: "black_black_decision5",
                speaker: blackPaddle,
                dialog: "but when I patched you up, together, we became unstoppable by working as hard as we could every single day.", answers: [
                    { option: "...", next: "black_black_decision6" }
                ]
            },

            {
                label: "black_black_decision6",
                speaker: blackPaddle,
                dialog: "Look at you now, becoming the ball that has played in the most Olympics five times consecutively in a row.", answers: [
                    { option: "...", next: "black_black_decision7" }
                ]
            },

            {
                label: "black_black_decision7",
                speaker: mainCharacter,
                dialog: "Yeah, that was a pretty great achievement. Thanks, Black for reminding me. You always motivate me to be my best self. ", answers: [
                    { option: "...", next: "black_black_decision8" }
                ]
            },

            {
                label: "black_black_decision8",
                speaker: narrator,
                dialog: "Ball and Black have a fierce, yet passionate smashing session throughout the entire night (BANG)(CLANK)(CLONK).", answers: [
                    { option: "...", next: "black_black_decision9" }
                ]
            },

            {
                label: "black_black_decision9",
                speaker: narrator,
                dialog: "They know that with each smash (CLANG), they’ll grow closer and closer to their dreams of becoming world renowned ping pong equipment and grow closer to themselves.", answers: [
                    { option: "...", next: "black_black_decision9" }
                ]
            }, 

            {
                label: "black_red_decision1",
                speaker: mainCharacter,
                dialog: "I’m gonna deflate tonight. It’s been a long day.", answers: [
                    { option: "...", next: "black_red_decision2"}
                ]
            },

            {
                label: "black_red_decision2",
                speaker: blackPaddle,
                dialog: "Don’t make me rally you against the wall >:(", answers: [
                    { option: "...", next: "black_red_decision3"}
                ]
            },

            {
                label: "black_red_decision3",
                speaker: mainCharacter,
                dialog: "You know what? I’m tired, and I want to rest. Can’t I just have this?", answers: [
                    { option: "...", next: "black_red_decision4"}
                ]
            },

            {
                label: "black_red_decision4",
                speaker: blackPaddle,
                dialog: "NO. We’ve worked so hard to become the best ping pong pair in the world, and you’re just gonna let that go?", answers: [
                    { option: "...", next: "black_red_decision5"}
                ]
            },

            {
                label: "black_red_decision5",
                speaker: blackPaddle,
                dialog: "One day of rest means that we’re one day behind the rest. It’s too late to back out now.", answers: [
                    { option: "...", next: "black_red_decision6"}
                ]
            },

            {
                label: "black_red_decision6",
                speaker: mainCharacter,
                dialog: "Are you serious? I just ask for one day, and you act like I’m quitting! I’m going out.", answers: [
                    { option: "...", next: "black_red_decision7"}
                ]
            },

            {
                label: "black_red_decision7",
                speaker: narrator,
                dialog: "Ball hangs out with red the rest of the night.", answers: [
                    { option: "...", next: "black_red_decision7"}
                ]
            }

           












        ];

        // Create the application helper and add its render target to the page
        // setup
        const app = new PIXI.Application();
        const Assets = PIXI.Assets;
        const Graphics = PIXI.Graphics;
        const Text = PIXI.Text;
        const containerWidth = 640;
        const containerHeight = 480;
        await app.init({ width: containerWidth, height: containerHeight })
        let gameContainer = document.querySelector('.game-container');
        gameContainer.appendChild(app.canvas);

        const primaryColor = '#FB6F92';
        const secondaryColor = '#FF8FAB';
        const backgroundColor = '#FFC2D1';
        const buttonColor = '#FB6F92'

        app.renderer.background.color = backgroundColor;

        let header = new Graphics()
            .rect(0, 0, containerWidth, 50)
            .fill(primaryColor);
        app.stage.addChild(header);

        let chapterText = new Text({
            text: 'Chapter 1',
            style: {
                fontFamily: 'Klee One',
                fontSize: 24,
                fill: 'FFF',
                align: 'center',
            },
            position: { x: containerWidth / 2 - 9 * 6, y: 50 / 2 - 12 } // height of header / 2 - font size / 2, to center text
        })
        app.stage.addChild(chapterText);

        await PIXI.Assets.load('/assets/bunny.jpg');
        let sprite = PIXI.Sprite.from('/assets/bunny.jpg');

        let currentLine = 0
        execute_game();
        
        // https://gamedev.stackexchange.com/questions/54238/how-do-i-implement-branching-dialogue-in-javascript
        function execute_game() {
            //Start the game
            renderDialog(story[currentLine].speaker, story[currentLine].dialog, story[currentLine].answers);
        }

        // rerenders the page, when button is clicked
        function handleAnswerClick(nextLabel) {
            const nextNode = findStoryNode(nextLabel);
            if (nextNode) {
                renderDialog(nextNode.speaker ,nextNode.dialog, nextNode.answers);
            } else {
                console.error(`Node with label ${nextLabel} not found`);
            }
        }
        
        // finds the corresponding node to render
        function findStoryNode(nextLabel) {
            return story.find(node => node.label === nextLabel);
        }

        // renders dialog based off of node
        function renderDialog(speaker, dialog, answers) {
            // Create the sprite and add it to the stage
            sprite.position.set(100, 100);
            app.stage.addChild(sprite);

            let bottomDiv = new Graphics()
                .rect(0, 300, containerWidth, containerHeight - 300)
                .fill(secondaryColor)
            app.stage.addChild(bottomDiv);

            let speakerPixi = new Text({
                text: speaker,
                style: {
                    fontFamily: 'Klee One',
                    fontSize: 24,
                    fill: 'FFF',
                },
                position: { x: containerWidth / 8, y: 320 }
            })
            app.stage.addChild(speakerPixi);

            let dialogPixi = new PIXI.Text({
                text: wrapText(dialog, 40),
                style: {
                    fontFamily: 'Klee One',
                    fontSize: 20,
                    fill: 'FFF',
                },
                align: 'left',
                maxWidth: containerWidth - 200,
                position: { x: containerWidth / 8, y: 350 },
            })
            app.stage.addChild(dialogPixi);

            // Add a ticker callback to move the sprite back and forth
            let elapsed = 0.0;

            app.ticker.add((ticker) => {
                elapsed += ticker.deltaTime;
                sprite.y = containerHeight/6 + Math.cos(elapsed / 50.0) * 10.0;
            });

            const margin = 10
            const buttonWidth = 150
            const buttonHeight = 45
            // Usage:
            answers.forEach((option, index) => {
                let buttonXPosition = containerWidth - 170;
                let buttonYPosition = containerHeight - 170 + (index * (margin + buttonHeight));
                createButton(option.option, buttonWidth, buttonHeight, buttonXPosition, buttonYPosition, () => {
                    return handleAnswerClick(option.next);
                    // Handle button click logic here
                });
            });

        }
        //Helper function used to wrap text
        // Given text, and character limit per line, return string that wraps accordinglyg
        function wrapText(text, widthLimit) {
            let wrappedText = '';
            let words = text.split(' ');
            let currentLine = '';

            for (let i = 0; i < words.length; i++) {
                let word = words[i];
                let potentialLine = currentLine + word;

                if (potentialLine.length <= widthLimit) {
                    currentLine = potentialLine + ' ';
                } else {
                    wrappedText += currentLine.trim() + '\n';
                    currentLine = word + ' ';
                }
            }

            wrappedText += currentLine.trim();
            return wrappedText;
        }

        // Create the button
        function createButton(text, width, height, x, y, callback) {
            let button = new PIXI.Graphics()
                .rect(x, y, width, height)
                .fill(buttonColor);

            let buttonText = new PIXI.Text({
                text: text,
                style: {
                    fontFamily: 'Klee One',
                    fontSize: 24,
                    fill: 'FFF',
                },
                position: { x: button.bounds.x + text.length * 2, y: button.bounds.y + 12 },
            });

            app.stage.addChild(button);
            app.stage.addChild(buttonText);

            button.interactive = true;
            button.buttonMode = true;
            button.on('pointerdown', callback);
        }

    </script>

</body>

</html>