<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Klee One' rel='stylesheet'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="script.js"></script>
    </head>
    <body>
        <div class="top-nav">
            <a>PingPongLove</a>
        </div>

        <div class="parent-container">
            <div class="box-container">
                <div id="box1">
                    <h1 class="box-text">Chapter 1</h1>
                </div>
                <div id="box2">
                    <h1 class="box-text">Chapter 2</h1>
                </div>
                <div id="box3">
                    <h1 class="box-text">Chapter 3</h1>
                </div>
            </div>
        </div>
    </body>
</html>